/* Mobile Responsive CSS */

@media screen and (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    /* Header CSS Start */
    
    .main-container{
        width: 90%;
        margin: auto;
    }
    
    .header{
        background-color: black;
        padding: 20px 100px;
        padding-bottom: 0;
        border-radius: 20px;
        margin-top: 50px;
    }
    
    .header .left-section{
        text-align: center;
    }
    
    .header .left-section h1{
        color: white;
        font-size: 2.1rem;
    }
    
    .header .left-section p{
        padding: 20px 0;
        color: white;
        font-size: 1.3rem;
    }
    
    .header .left-section a{
        text-decoration: none;
        font-size: 20px;
        color: white;
        background-color: red;
        padding: 10px 20px;
        border-radius: 10px;
        display: inline-block;
    }
    
    .link i{
        color: white;
        margin-left: 10px;
    }
    
    .header .right-section{
        justify-content: center;
        align-items: center;
        min-height: 100%;
    }
    
    .header .right-section img{
        max-height: 100%;
        margin-top: 20px;
    }
    
    /* Header CSS End */
    
    
    /* Body CSS Start */
    
    .sub-body{
        margin-top: 50px;
    }
    
    .left-body{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        font-size: 2rem;
    }
    
    .blog-1{
        text-decoration: none;
        color: rgb(53, 53, 53);
        padding: 20px 30px;
        background-color: white;
        margin-bottom: 20px;
        border: 1px solid rgb(210, 208, 208);
        border-radius: 10px;
        text-align: center;
        width: 50%;
        margin: 5px auto;
    }
    
    .blog-2{
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 20px 30px;
        background-color: rgb(255, 0, 0);
        margin-bottom: 20px;
        border-radius: 10px;
        text-align: center;
        width: 50%;
        margin: 5px auto;
    }
    
    .right-body{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    
    .card .img{
        min-width: 100%;
    }
    
    .card{
        width: 100%;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 10px
    }
    
    .articles{
        padding: 30px;
    }
    
    .articles button{
        padding: 10px 20px;
        background-color: whitesmoke;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
    
    .articles h1{
        margin-bottom: 10px;
        font-size: 2rem;
    }
    
    .articles span{
        display: flex;
    }
    
    .mar-left{
        margin-left: 30px;
    }
    
    /* Body CSS End */
    
    /* Footer CSS Start */
    
    .footer{
        height: 300px;
        background-color: black;
        text-align: center;
    }
    
    .footer h1{
        color: white;
        font-size: 2.5rem;
        padding: 90px 70px 40px;
    }
    
    .footer hr{
        width: 1000px;
        text-align: center;
        margin: 0 auto;
    }
    
    .footer-menu{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 20px;
    }
    
    .footer-menu li a{
        display: inline-block;
        text-decoration: none;
        color: rgb(236, 238, 241);
    }
    
    /* Footer CSS End */
}